div#back {
  background: url(https://res.cloudinary.com/serdy-m-dia-inc/image/upload/f_auto/fl_lossy/q_auto:eco/x_0,y_208,w_4000,h_2250,c_crop/w_1200,h_630,c_fill/v1532956750/foodlavie/prod/recettes/melange-depices-a-la-marocaine-1956e02e)
    no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  padding: 50px;
}
#contact, #sEnregistrer, #seConnecter {
  background: #dc3545;
  border-radius: 8%;
  height: 460px;
  width: 899px;
  padding: 50px;
  opacity: 0.83;
}

h2 {
  color: whitesmoke;
}


.label {
  color: white;
}