.categorie-content {
    width: 246px;
    padding: 15px;
}

.categorie-title {
    color: #0a0a36;
    font-size: 16px;
    text-align: center;
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.categorie-image {
    width: 246px;
    height: 330px;
}
.categorie-price {
    color: #0a0a36;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.btn-details {
    padding-left: 28px;
}
